@font-face{ 
  font-family:'tmonmonsori'; 
  src:  url('asset/TmonMonsori.ttf'); 
}
*{
  margin : 0px;
  padding: 0px;
  box-sizing: border-box;
  
}

.wrapper {
  width : 400px;
  margin: 0 auto;  
  background-image : url("asset/bg_pattern.svg");
  background-position-y: 50%;
  background-repeat: no-repeat;

  /* position: relative; */
  /* background-color: red; */
}

a {
  text-decoration: none;
  color: #fdca6b;
}

.title{
  /* visibility: none; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.title > img{
  display: none;
}

#head {
  width: 300px;
}

#addBtn {
  font-family: 'tmonmonsori';
  font-weight: 100;
  font-size: 20px;
  line-height: 20px;
  width: 100%;
  color : #fdca6b;
  cursor: pointer;
  background: url("/asset/coin_btn.png"),#2F3C72;
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-position-x: 30%;
}

#addBtn:focus {
  width: 100%;
  color : #fdca6b;
  outline: none;
  border: 4px solid #fdca6b;
}

.footer {
  border-top : 1px dashed #2f3c72;
  display: block;
  position: relative;
  bottom : 0px;
  padding-top:30px;
  width: 400px;
  margin-top : 50px;
  /* background-color: white; */
  text-align: center;
  left : 50%;
  transform: translateX(-50%);
}

.footer > p {
  color : #2F3C72;
  margin-bottom: 30px;
}


#footerImg {
  bottom : 0px;
  position: relative;
}

.insertList{
  position: relative;
  margin-top : 10px;
  /* background-color: blue; */
}


.label{
  font-size: 13px;
  color : #2f3c72;
  font-weight: 600;
  display: block;
}

form {
  margin-top : 10px;
}

#plusPeople{
  float: right; 
  cursor: pointer;
}

.form{
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border : 2px solid rgba(101,109,142,0.64);
}

.form:focus{
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border : 2px solid #fdca6b;
  outline : none;
}

.col-8{
  width: 49%;
  display: inline-block;
  /* background-color: red; */
  /* margin-right: 5px; */
}

.col-8.left{
  width: 49%;
  display: inline-block;
  margin-right: 3px;
}

.col-5{
  width: 31%;
  display: inline-block;  
}
.col-6{
  width: 35%;
  display: inline-block;  
}

input{
  margin-top : 6px;
}

.addCancel,
#submitBtn{
  width : 49%;
  display: inline-block;
}
.addCancel{
  margin-right:5px;
  
}
.activeBtn{
  background-color: #2f3c72;
  border : none;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  margin-top : 20px;
}

.cancelBtn{
  background-color: #d8d8d8;
  color : #474f58;
  border : none;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  margin-top : 20px;
}


/****************************
 insertList 시작 
****************************/
.insertCard{
  border : 2px solid #2F3C72;
  border-radius: 4px;
  margin-top: 10px;
}
.cardHeader{
  background-color: #2F3C72;
  /* border-radius : 0px; */
  color: white;
  padding: 5px;
}
.cardHeader > p{
  display: inline-block;
}

.cardHeader > img{
  display: inline-block;
  float: right;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
  width: 15px;
}


.cardBody{
  background-color: white;
}
.cardBodyLeft,
.cardBodyRight{
  padding : 10px;
  
}

.cardBodyRight{
  background-color: rgba(245,245,245,0.9);
  margin:0;
  position: relative;
  float: right;
}

p.label{
  display: inline-block;
  position: relative;
  right:0;
}
.anotherPeople{
  display: inline-block;
  position: relative;
  float: right;
}
.calPeople{
  display: inline-block;
  position: relative;
  float: right;
}

.moneyCal{
  margin-top: 20px; 
  /* background-color: blue; */
}

.totalMoney,
.getMoney,
.leftMoney{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.leftMoney{
  margin-top: 5px;
}

.leftMoney > img{
  width: 23px;
}

.totalMoney > p,
.getMoney > p,
.leftMoney > p{
  display: inline-block;
}
.totalMoney > label,
.getMoney > label,
.leftMoney > label{
  display: inline-block;
  font-size:  12px;
}

.rightTotalMoney,
.rightGetMoney,
.rightLeftMoney{
  /* display: inline-block; */
  float: right;
  position: relative;
  font-size: 23px;
}

.leftMoney{
  border-top: 1px solid rgba(151, 151, 151, 0.34);;
}

.ui.checkbox{
  display: flex;
  justify-content: space-between;
}

.getPeople1,
.getPeople2,
.getPeople3{
  /* display: block; */
  padding-top: 15px;
  /* font-size: 14px; */
}

.getPeople1 > label > p,
.getPeople2 > label > p,
.getPeople3 > label > p{
  display: inline-block;
  float: right;
  position: relative;
}

.getPeople{
  margin-top: 20px;
}

#gitimg {
  width: 20px;
}

/****************************
 insertList 종료 
****************************/